*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#list{
    background-color: #042331;
    min-height: 8vh;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#nav{
    display:none;
}
 .header{
    color: white;
    font-size: 20px;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.list li{
    list-style: none;
}
.list li a{
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.list li a:hover{
    padding-left: 20px;
    color:rgb(247, 83, 146);
}
@media(max-width:1024px){
    .list{
        width:40%;
    }
}
@media(max-width:780px){
    body{
        overflow-y: hidden;
    }
    /* .navigation{
        background-color: #042331;
        min-height: 70px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        display: flex;
    } */
    .list{
        position: absolute;
        background-color: #042331;
        left: 0px;
        height: 100%;
        top:50px;
        width: 250px;
        display: block;
        transform:translateX(-100%);
    }
    .list li{
        padding-left: 10px;
        padding-right: 10px;
        color:white;
        margin-top:30px;
    }
    #nav{
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    #check{
        display: none;
    }
    .list li a{
        display: block;
        width: 100%;
        line-height:65px;
        font-size:15px;
        color:white;
        text-align: center;
        box-sizing: border-box;
        border-top:1px solid rgba(255,255,255,.1);
        border-bottom:1px solid black;
        transition: .4s;
        text-decoration: none;
        padding-top: 20px;
    }
    .list li a:hover{
        border-bottom: 2px solid red;
        transition: all 200ms ease-in-out;
    }
    label #btn,label #cancel{
        position: absolute;
        cursor:pointer;
        background-color:#0b77a8;
        border-radius:3px;
    }
    label #btn{
        left:40px;
        top:12px;
        font-size:30px;
        color:white;
        padding:3px 7px;
        transition: all .5s;
        display:block;
    }
    label #cancel{
        z-index:1111;
        left:-195px;
        top:40px;
        font-size:20px;
        color:#0a5275;
        padding:3px 7px;
        transition: all .5s ease;
    }
    #check:checked~label #btn{
        left:250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked~label #cancel{
        left:200px;
    }
}
@media(max-width:320px){
    .header{
        font-size: 12px;
    }
    label #btn{
        left:40px;
        top:8px;
        font-size:20px;
        color:white;
        padding:3px 8px;
        transition: all .5s;
        display:block;
    }
    .list{
        position: absolute;
        background-color: #042331;
        left: -2px;
        height: 100%;
        top:36px;
        width: 250px;
        display: none;
    }
}
.please{
    transform:translateX(0%);
}



